{% extends 'catalog/base.html'%}
{% block content %}
<div class="row text-center">
    <div class="col-md-8">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">
            {{ object.title }} ({{ object.slug }})
        </h3>

        <article class="blog-post">
            <p>{{ object.description }}</p>
        </article>

    </div>

</div>
<div class="col-auto d-none d-lg-block">
    <img src="/media/{{ object.image }}"/>

</div>
<div class="card-footer">
    Просмотры: {{ object.count_views }}
</div>

{% endblock %}