{% extends 'catalog/base.html' %}

{% block content %}
{% if not object %}
<div class="col-6">
    <div class="card">
        <form method="post" class="multipart/form-data">
            <div class="card-header">
                Создание продукта
            </div>
            <div class="card-body">

                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">
                    Создать
                </button>

            </div>
        </form>
    </div>

</div>
{% endif %}

<form method="post" class="row">
    {% if object %}
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                Редактирование продукта
            </div>
            <div class="card-body">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">
                    Сохранить
                </button>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                Версия продукта
            </div>
            <div class="card-body">
                {{ formset.management_form }}
                {% for form in formset.forms %}
                {{ form.as_p }}

                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</form>

{% endblock %}